* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.container {
    width: 750px;
    height: 450px;    
}

#ic_close {
    padding-left: 30px;
    padding-top: 20px;
}

#title {
    font-size: 18px;
    text-align: center;

    width: 200px;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;

    color: #06814D;
    background-color: #FBFBFB;

    border: 2px solid #06814D;
    border-radius: 10px;
    line-height: 40px; /* 텍스트를 수직으로 중앙 정렬 */
}

.left {    
    float: left;
    width: 375px;

    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid #CFCFCF; /* 오른쪽 테두리 추가 */
}

.right {
    float: right;
    width: 374px;

    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#find_id_title, #find_pw_title {
    margin-top: 50px;
}

.inputform {
    width: 300px;
    height: 40px;
    margin-top: 7px;

    color: #333333;
    font-size: 12px;
    padding-left: 10px;

    border-color: #06814D;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
}

#find_id, #find_pw {
    width: 300px;
    height: 40px;
    margin-top: 30px;

    color: #FBFBFB;
    background-color: #06814D;
    text-align: center;
    border: none;
    border-radius: 20px;
}

#bottom {
    width: 750px;
    height: 50px;

    background-color: #06814D;
}