* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 750px;
    height: 500px;

    background: linear-gradient(#09AF69CC, #09AF69E6, #09AF69FF)
}

h1 {
    color: #FBFBFB;
    text-align: center;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px;
}

.inputform {
    background-color: #FBFBFB;
    border: none;
    border-radius: 15px;
    color: #333333;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    box-shadow: 0px 1px 10px 0.5px gray;
}

input::placeholder {
    font-size: 12px;
    color: #CFCFCF;
}

.login-remain {
    font-size: 12px;
    color: #FBFBFB;
    width: 12px;
    height: 12px;
    border-color: #FBFBFB;
    margin-top: 7px;
}

.text {
    font-size: 12px;
    color: #FBFBFB;
    text-decoration: underline;
}

#find-password {
    margin-left: 7px;
}

#sign-up {
    margin-left: 7px;
}

#login {
    width: 510px;
    height: 50px;
    margin-top: 20px;
    color: #FBFBFB;
    background-color: #06814D;
    text-align: center;
    border: none;
    border-radius: 20px;
}
